.custom-menu {
   z-index:5;
	margin-bottom: 0px;
}
.nav-sections{margin-bottom: 0px !important}
.page-front .category-cms,.page-front .category-image,.page-front .category-description {
    margin-bottom: 0px;
}
.page-main {
    max-width: 100%;
    padding: 0px;
}

.category-cms, .category-image, .category-description {
    margin-bottom: 0px;
}
button:not(.primary) {
    box-shadow: none;
}
.open .nav-sections {
    opacity: 1;
    visibility: visible;
}
.catalog-category-home .page-wrapper .page-main {
    display: none;
}
.categorypath-cdbx-products .page-wrapper .page-main {
    display: block;
}

.block.block-search {
    display: none;
}

.cbdx-page.page-not-front header {
    position: relative;
}
.cbdx-page .header.content {
    display: block;
}

button.menuBtn.bar-button {
    background: none;
    border: none;
    box-shadow: none;
}
.cms-home .page-main {
    display: none;
}

