

/*==========---min-width-768---==========*/
@media (min-width: 768px) {
      .banner-title-notfront h1 {  font-size: 75px; }
      .lv8-about-info .abtInfo p{ font-size:20px; }
      h2, .worx-about-page h3 {  font-size: 46px; }
      .process-bx ul, .cbd-info-bx ul  {  column-count:2;   -webkit-column-count:2;  }
      .lv8-page .owl-item-caption h1{ font-size:80px; }
      .owl-item-caption h1{ font-size:75px; }
      .craft-box-row, .cbd-info-row .left-col, .cbd-info-bx { display: flex; display: -webkit-flex; }
      .craft-higher .left-col, .brand-2 .left-col,
      .info-row-2 .left-col {   order:2; -webkit-order:2;   }
      .craft-research .left-col {  order:initial; -webkit-order:initial;  }
      .craft-box-row .right-col { display: flex;  position: relative; }
      .craft-box-row .craft-info-col {  position: absolute; top: 50%; transform: translate(0, -50%); }
      .theBrands-carousel .boxBrands p { font-size: 18px; }
      .cbd-info-bx {  flex-wrap: wrap;   align-items: center;   }
      .cbd-info-row .row .col-md-6 { padding: 0;   }
      .info-row-1 .cbd-info-bx { margin-left: 12%; width: calc(100% - 12%); box-sizing: border-box; padding: 0 12% 0 0; }
      .info-row-2 .cbd-info-bx { margin-right: 12%; width: calc(100% - 12%); box-sizing: border-box; padding: 0 0 0 12%; }
      .info-title-list, .info-title-list li {display: flex;  display: -webkit-flex; }
      .compounds-box.row1:after{   width:96%;    }
      .compounds-box:after { content: ""; width: 56%; height: 15px; background: #f3793b; position: absolute; right: 0; bottom: -15px;  }
      .summar-bx:before, .summar-bx:after { content: ""; background: #F57B3B; position: absolute;   }
      .summar-bx:before {  right: -15px;  height: 90%;  width: 15px; bottom: -15px;   }
      .summar-bx:after { width: 70%; height: 15px; bottom: -15px; right: 0;   }

      /*--menu-animatin-css-start-768--*/
      .menu-col-main, .menu-item-description { order:2;  -webkit-order:2 }
      .navbar-body { position: absolute; left: 0; top: 0; bottom:0;  opacity:0;   }
      .navbar-body { z-index:-1;  }
      .navbar-body.active{ z-index:1 ;  opacity:1;  }
      .navbar-body .menu-image-item img{ opacity:0; position: absolute; left: 0; top: 0; height: 100vh;  object-fit: cover;  }
      .active.navbar-body .menu-image-item img { opacity:1;  transition:  opacity 1.9s;   }
      .menu-inner { opacity:0; }
      .active .menu-inner { transition: opacity 1.5s;  opacity:1;   }
      .menu-inner .social-col { position: absolute;  bottom: -100px; left: 0;   }
      .active .menu-inner .social-col {  bottom:0;  transition: bottom 1s;    } 
      .menu-parent li { padding-right:30%; }
      
 
}
@media (min-width:992px) {
      .craft-higher .craft-graybx{ margin-right: -15%; }
      .craft-research .craft-graybx{ margin-left: -15%; }
      .craft-graybx{ width: 120%; }
      .craft-higher .craft-info-col { width: calc(100% - 11.5%); margin-left: 11.5%; }
      .craft-research .craft-info-col{ width: calc(100% - 11.5%); margin-right: 11.5%; }
      .craft-graybx p { font-size: 18px; }
      .brand-info { position: absolute; left: 0; top: 50%; transform: translate(0, -50%); -webkit-transform: translate(0, -50%); }
      .footer-links ul  {  column-count:2;   -webkit-column-count:2;  }

}

@media ( min-width:1025px ){
      .point {  position: absolute;  width: 44%; }
      .point-1 { top: 7%; }
      .point-2 { top: 37%; }
      .point-3 { top: 53%; }
      .point-circle { position: absolute; top: 13px; right:0;  }
      .point-circle:after  { content: ""; height: 3px; background: #fff; position: absolute; top: 12px;
            right: 27px; width:0; opacity:0; 
      }
      .point-body { opacity:0; }
      .point-circle:hover + .point-body,
      .point-circle:hover:after{ opacity:1;  }
      .point-circle:hover:after { width:170px; }
      .point-4 .point-circle:hover:after,
      .point-5 .point-circle:hover:after { width:370px; }
      .point-6 .point-circle:hover:after { width:130px; }
      .point-4 { right: 0;  top: 12%; }
      .point-5 { right: 0;  top: 21%; }
      .point-6 { right: 0;  bottom:30%; }
      .point-4 .point-circle { left: -22%; }
      .point-6 .point-circle { left: 15%; }
      .point-5 .point-circle { left: -19%; }
      .point-4 .point-circle:after { left: 26px;  }
      .point-5 .point-circle:after { left: 26px; }
      .point-6 .point-circle:after { left: 26px;  }
      .banefints-image-points img {  width: 100%; }
      .point-circle:after { transition: all 0.5s ease; -webkit-transition: all 0.5s ease; }
      .point-circle,
      .point-body { transition: all 0.3s ease; -webkit-transition: all 0.3s ease; }
      .point .point-body { position: absolute;  top: 0; }
      .point-1 .point-body,
      .point-2 .point-body,
      .point-3 .point-body { right: 38%; }
      .point-1 .point-circle { right:8%; }
      .point-2 .point-circle { right: 9%; }
      .point-3 .point-circle { right: 12%; }
      .point-4 .point-body,
      .point-5 .point-body,
      .point-6 .point-body { left: 38%; }
      .thc-content { margin-top: -180px;  }
      .compounds-box.row1 { min-height: 330px;  }

}
@media (min-width: 1200px) {
      .container {  max-width:1600px; width:92%;  }
      .family-brand {  max-width:630px; }
      .faqs-content .faqs-left {  padding-right: 30px;  }
      .faqs-content .faqs-right { padding-left: 30px;   }

}

@media (min-width: 1600px) {
      .lv8-page .owl-item-caption h1, .owl-item-caption h1 { font-size:100px; }
      .owl-item-caption p { font-size:40px; }
      .owl-item-caption { max-width: 1340px;  }
}

@media (min-width:1025px) and (max-width:1300px) {
      .menu-parent li { padding-top:8px; padding-bottom:8px; }
      .menu-parent li.labs-menu { margin-top:12px; padding-top:18px; }
}

/*==========---min-width-768-max-1199---==========*/
@media (min-width: 768px)  and ( max-width:1199px ){
      .container { max-width: 96%;   }
      .family-brand a{ padding:12% 30px;  }
      .family-brand img {  max-width: 200px;  }
      .cbdx-brand img { max-width:140px; }
      .footer-logo img {  width: 120px; }
      .learn-btn{ padding:15px 20px;  }
      .craft-graybx .learn-btn {  margin: 0; }
      .craft-graybx h3 {  font-size: 26px; margin: 0 0 10px; }
      h2, .worx-about-page h3 { font-size: 36px; }
      .brand-info figure img {  max-width: 150px; }
      .cbd-info-bx h3{ font-size:28px; }
      .faqs-panel h4 { font-size:22px; }
      .menu-item-description, .menu-col-main { padding-left:30px; padding-right:30px;  }
      .menu-parent li a { font-size:26px; }



}


@media (min-width: 768px)  and ( max-width:991px ){
      .craft-graybx p { line-height:24px; font-size:16px; }
      .cbd-info-title .container { padding: 0 5px;  }
      .info-title-list li a { font-size:13px; }
      .cbd-info-bx { height: 310px; overflow-y: auto;  }
      .contact-form-inner .form-group {   margin-bottom: 35px;   }
      .craft-graybx { padding:5%; }
      .navbar-body .menu-image-item img{ height: 100vh; object-fit: cover; }
      

}

@media (max-width:1024px) {
      .point-body{ display: none; }
      .point { display: inline-block; width: 16.666%; text-align: center; margin:1% 0;  }
        .point-circle { display: inline-block; line-height: 34px;   }
        .point-body{ position: absolute; top:50px;  }
        .point-circle.active .dot { background:#F57B3B; }
        .point-5 .point-body,
        .point-6 .point-body { right: 0;  }

}


@media (max-width:991px) {
      .ftr-logo {  order: 2;  }
      .general-col { order: 1; }
      .legal-col {  order: 3; }
      .social-media-col { order: 4; margin-top: auto; }
      .legal-col .footer-links {  margin-top: 20px;  }
      footer.page-footer{ padding:50px 0; }     

}

@media (max-width:767px) {
      .container{ max-width:100%;}
      .logo-col img { width:90px; }
      .header, .cbdx-page.page-not-front .header { padding:15px 0; }
      .navbar-col .bar-button {  margin-top:0px; }
      .lv8-about-info .abtInfo h3{ font-size:20px; }
      .h2, h2 { font-size:32px; }
      .cbd-info-bx h3 { font-size:26px; }
      .title-col h2{ margin-bottom:20px; }
      .family-brand a{ background: rgba(255,255,255,0.8);  }
      .family-brand { width:80%; }
      .family-brand img { max-width:120px;}
      .cbdx-brand img{ max-width:110px;}
      .family-brand figure{ margin-bottom:25px; }
      .family-brand h3{ font-size: 18px;  font-weight: 400; margin-bottom:15px;  }
      .ourFamily-row h2{ margin-bottom:30px; }
      .lv8-about-info { margin-bottom: 20px; }
      .footer-logo img {  width: 100px; }
      .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev { width:30px; height:30px; font-size:36px; }
      .owl-carousel .owl-nav button span{line-height:22px; }
      .front-banner .owl-carousel .owl-nav button.owl-next,
      .front-banner .owl-carousel .owl-nav button.owl-prev { top:initial; bottom:40px; margin:0;   }
      p { font-size:16px; line-height:24px;  }
      .labs-about-brand h4, .expertise-info h5{ font-size:20px; }
      .craft-graybx h3, .worx-about-page .craft-graybx h3 { font-size: 24px;  margin: 0 0 10px; }
      .learn-btn{ padding:15px; font-size:16px; }
      .theBrands-carousel {  margin: 40px 0 0; }
      .theBrands-carousel .boxBrands img {  margin: 0 0 30px;  width: 120px;  }
      .theBrands-carousel .boxBrands p { line-height: 22px; }
      .theBrands-carousel .boxBrands{ padding: 30px 30px 60px;  background: rgba(255,255,255,0.8);  }
      .theBrands-carousel .caption { width:80%; }
      .theBrands-carousel .owl-item .item >img { min-height: 400px; object-fit: cover; }
      .brand-info figure img { max-width: 140px; }
      .point-body { left: 0; right: 0; max-width: 100%;  }
      .info-title-list li{ padding:5px 10px; width:100%; }
      .info-title-list li a { font-size: 13px; }
      .info-title-list li a br,
      .cms-content h3 br { display: none;}
      .cbdx-page.page-not-front .logo-col img { height:42px;}
      .banefints-image-points {  margin: 20px auto;  }
      .cbd-info-bx { margin-bottom: 30px;  }
      .faqs-panel h4 { font-size:18px; }
      .cms-title .title-left, .cms-title .logo-right { width:100%; }
      .cms-title h1 {  font-size: 30px;   }
      .cms-title .title-left span { font-size:20px; }
      .cms-title .logo-right img { width: 100px; margin: 20px 0 0;  }
      .compounds-box h2 { font-size:22px; margin:0;  }
      .cms-content h3 { font-size:20px; }
      .summar-bx { margin-bottom:20px; }
      .worx-about-page .lv8-about-info .abtInfo p { margin: 0; }
      .success-stories { margin:12% 0; }
      .stories-carousel {  padding: 0 15px;  }
      .our-expertise h3 { margin:20px 0 30px; }
      .freeapp-col figure{ max-width:100%; padding:0;  }
      .app-info { width:100%; }
      .appstore-col img { max-width:130px;}
      .front-banner .owl-carousel .owl-nav button span:before { font-size: 28px; line-height: 28px;  }
      /*--menu-css-for-mobile--*/
      .menu-items { float: right;  width:100%; }
      .nav-sections-items .menuBtn { top:15px; z-index:4;}
      .menu-col-main { width: 50%; padding: 16px 0 30px; float: left; z-index: 5; right: 0; position: absolute;
            top: 35%; height: calc(100% - 35%); overflow-y: auto; border-left: 1px solid #ccc; z-index: 10;  }
      .menu-col-main ul { padding: 0 15px;  }
      .menu-parent li a { font-size: 21px; }
      .menu-parent li { padding:6px 15px 6px 0;   }
      .menu-parent li .fa { font-size:22px; }
      .menu-inner .logo-brand { margin-bottom:22px; }
      .menu-inner p { font-size:15px; line-height:24px; margin-bottom:15px;  }
      .menu-parent li.labs-menu{ padding-top: 18px; margin-top: 12px;  }
      .social-col li { margin-right:8px; }
      .navbar-body { float: left; width: auto;   }
      .menu-image-item { height:100vh; width:30%; float: left;  }
      .menu-image-item img { width: 100%; float: left; object-fit: cover;   }
      .menu-item-front .menu-image-item img { height: 60vh;  }
      .menu-item-labs .menu-image-item img {  height: 50vh;   }
      .menu-item-worx .menu-image-item img { height: 100vh;  }
      .menu-item-cbdx .menu-image-item img { height: 80vh;  }
      .menu-item-description { float: left; width: 50%; height: 100vh; padding: 10px 0; position: relative; }
      .navbar-body { position: fixed; top: 0; right:0; width: 100%; background: #fff; z-index: 3; 
            transition: all 0.4s ease; padding:0; opacity:0;
      }
      .navbar-body.active{ opacity:1; z-index:9;}
      .navbar-body.mobile-active { right:0; z-index:5; }
      .navbar-body .menu-image-item { width: 100%; position: fixed; top: 0; height: 35%; overflow: hidden;   }
      .mobile-back-btn { margin:0 0 10px; display: block; position: relative; z-index:1; }
      .mobile-back-btn a { font-size: 28px; color: #9b9b9b; padding: 0px 15px; display: inline-block; line-height: normal; cursor: pointer; }
      .menu-inner { position: absolute; left: 0; right: 0; width: auto; overflow-y: auto; top: 35%;
            padding: 20px 15px 50px; height: calc(100% - 35%); opacity:0;
       }
       .menu-items    .active .menu-inner { opacity:1;}
      .cbdx-brands-col .brand-link img { width:55px; }
      .cbdx-brands-col .brand-link:nth-of-type(2) img { width:42px; }
      .menu-inner .adrs-col li a  { font-size:14px; }
      .cbdx-brands-col .brand-link { margin:0 7px 15px 0;  }
      .social-col h5, .cbdx-brands-col h5 { font-size:13px;  }
      .menu-inner .logo-brand img { height:22px; }
      .menu-item-front .menu-inner .logo-brand img { height: 26px;   }
      .menu-item-cbdx .menu-inner .logo-brand img { height:45px; }
      .menu-inner .adrs-col { margin-bottom:10px; }
      .filter-col .filter-link{ margin:0 6px 6px 0; padding:12px; }
      .social-col li a { font-size:18px; }
      .prize-filter { float:left;}
      .product-tab-title li { width: auto; }
      .container-inner { position: relative;  }
      .cont-img-col img { width: auto; height: 100%; object-fit: cover;   }
      .cont-img-col { width: 15%; position: absolute; left: 0; bottom: 0; top: 0;  }
      .cont-form-col { padding-left: 15%; padding-right: 0;  }
      .contact-form-inner { padding: 20px 15px;  }
      .contact-form-inner h4 { font-size: 18px; margin-bottom: 30px;  }
      .contact-form-inner .form-group {  margin-bottom: 30px;  }
      .contact-form-inner .form-control { font-size:13px; }
      .banner-title-notfront h1, h1 { font-size:40px; }
      .owl-item-caption h1 br { display: none;   }
      .owl-item-caption p { font-size: 28px; line-height: normal;  }
      .news-featured h1 { margin-bottom: 20px; }
      .open-positions h2 {  margin-bottom: 10px;         }
      .news-featured .owl-theme .owl-nav.disabled+.owl-dots {    margin-top: 10px;      }
      .latest-post {margin-top: 30px;   }
      .post-item { margin-bottom: 40px;   }
      .image-notfront img {  min-height: 500px;  object-fit: cover;  }
      .banner-breadcrumbs .breadcrumbs { display: none; }
      .banner-notfront { margin-top:0; }
      .banner-breadcrumbs { margin-bottom:15px; }
      .ourFamily-row {  padding: 0 15px;   }
      .family-image img { min-height: 400px; object-fit: cover;  }
      .mobile-arrow { display:block; }
      .labs-about-brand { margin-bottom:10%; }
      .header .container { display: flex; align-items: center;  }
      .header-right-col { margin-left: auto; }
      .promoting-carousel .owl-carousel .owl-item img { width: auto; float: none; display: inline-block; }
      .promoting-carousel { text-align: center; }
      .cbdx-brands-col { margin-bottom:12px; }
      .menu-inner .adrs-col li { margin-bottom:10px; }
      
}