
@media (min-width: 1200px) {
	.lv8-page .front-banner .item { background-position: center -120px !important; }	
	
}


/*==========---min-width-768---==========*/
@media (min-width: 768px) {
      .banner-title-notfront h1 {  font-size: 75px; }
      .lv8-about-info .abtInfo p{ font-size:18px; line-height:30px; }
      .process-bx ul, .cbd-info-bx ul  {  column-count:2;   -webkit-column-count:2;  }
      .lv8-page .owl-item-caption .h1{ font-size:100px; font-weight:700;  }
      .owl-item-caption h1{ font-size:75px; }
      .craft-box-row, .cbd-info-row .left-col, .cbd-info-bx { display: flex; display: -webkit-flex; }
      .craft-higher .left-col, .brand-2 .left-col,
      .info-row-2 .left-col {   order:2; -webkit-order:2;   }
      .craft-research .left-col {  order:initial; -webkit-order:initial;  }
      .craft-box-row .right-col { display: flex;  position: relative; }
      .craft-box-row .craft-info-col {  position: absolute; top: 50%; transform: translate(0, -50%); }
      .theBrands-carousel .boxBrands p,
		.theBrands-carousel .boxBrands span	  { font-size: 18px; }
      .cbd-info-bx {  flex-wrap: wrap;   align-items: center;   }
      .cbd-info-row .row .col-md-6 { padding: 0;   }
      .info-row-1 .cbd-info-bx { margin-left: 12%; width: calc(100% - 12%); box-sizing: border-box; padding: 0 12% 0 0; }
      .info-row-2 .cbd-info-bx { margin-right: 12%; width: calc(100% - 12%); box-sizing: border-box; padding: 0 0 0 12%; }
      .info-title-list, .info-title-list li {display: flex;  display: -webkit-flex; }
      .compounds-box.row1:after{   width:96%;    }
      .compounds-box:after { content: ""; width: 56%; height: 15px; background: #f3793b; position: absolute; right: 0; bottom: -15px;  }
      .summar-bx:before, .summar-bx:after { content: ""; background: #F57B3B; position: absolute;   }
      .summar-bx:before {  right: -15px;  height: 90%;  width: 15px; bottom: -15px;   }
      .summar-bx:after { width: 70%; height: 15px; bottom: -15px; right: 0;   }

      /*--menu-animatin-css-start-768--*/
      .menu-col-main, .menu-item-description { order:2;  -webkit-order:2 }
      .navbar-body { position: absolute; left: 0; top: 0; bottom:0;  opacity:0;   }
      .navbar-body { z-index:-1;  }
      .navbar-body.active{ z-index:1 ;  opacity:1;  }
      .navbar-body .menu-image-item img{ opacity:0; position: absolute; left: 0; top: 0; height: 100vh;  object-fit: cover;  }
      .active.navbar-body .menu-image-item img { opacity:1;  transition:  opacity 1.9s;   }
      .menu-inner { opacity:0; }
      .active .menu-inner { transition: opacity 1.5s;  opacity:1;   }
      .menu-parent li { padding-right:30%; }
	  .craft-graybx{ width: 110%; }
	  .craft-higher .craft-graybx{ margin-right: -15%; }
      .craft-research .craft-graybx{ margin-left: -15%; }
	  .craft-img-col img{ min-height: 579px; object-fit: cover; }
	  .news-featured .craft-img-col img { min-height:inherit; }
	  .cbd-info-row figure img {  min-height: 544px; object-fit: cover; }
	  .page-layout-1column.page-with-filter .column.main { padding-top:0; padding-bottom:0; }
	  .navigation, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main {
		  max-width:100%; padding:0;
	  }
	  .product.data.items > .item.title > .switch{ color:#262626 !important; }
	  .product.data.items > .item.content {
			border: none;
			background: #fafaf9;
			border-top: 2px solid #F57B3B;
			margin-top: 51px;
		}
		body .product.data.items>.item.title>.switch {
			padding: 5px 35px 5px;
			background: #FFF;
			border-radius: 0;
			border: 2px solid #F57B3B;
			font-size: 18px;
			text-align: center;
			margin-right: -2px;
			height: auto;
			margin-top: -1px;
			color: #053052;
			font-weight: 500;
			min-width: 190px;
			position: relative;
			text-transform: capitalize;
		}
		.product.data.items > .item.title:not(.disabled) > .switch:active,
		body .product.data.items > .item.title.active > .switch,
		.product.data.items > .item.title.active > .switch:focus,
		.product.data.items > .item.title.active > .switch:hover {
			background: #F57B3B;
			padding-bottom: 5px;
			color: #fff !important;
		}

		.product.data.items>.item.title>.switch:before {
			content: "\f105";
			font-family: fontawesome;
			order: 2;
			margin-left: 8px;
			font-size: 22px;
		}
		.product.data.items>.item.title.active>.switch:before { content: "\f107";}
		.product.data.items>.item.title>.switch {display: flex; justify-content: center; align-items: center;}
		.checkout-cart-index .columns { padding-bottom: 100px; }
		.cart.table-wrapper .product-item-details,
		table#shopping-cart-table td {  vertical-align: middle; }
		.cart.table-wrapper .actions-toolbar { padding-bottom:40px; }
		.cart.table-wrapper .product-item-details { padding-bottom:0; }
		.cart-summary > .title { font-size: 26px; font-weight: 500; margin: 20px 0; }
		.cart-summary .block .fieldset .field { margin-bottom:20px; }
		.page.messages {  max-width: 1600px;  width: 94%;  margin: 0 auto; }
		form.form-create-account .fieldset:nth-of-type(1) { margin-bottom: 60px; }
		.checkout-onepage-success .table .col {  min-width: 160px; }
		.theBrands-carousel { padding:0 20px; }
		.portfolio-boxes .container { max-width: 100%; width: 100%; padding: 0 20px; }
		body.account.page-layout-2columns-left main#maincontent .columns > .column.main { 
			width: 77.7%; padding:70px 0; }
		body.account.page-layout-2columns-left .columns { max-width: 1600px; width: 94%; padding: 0 15px !important; margin: 0 auto;
		float: none; }
		.block-collapsible-nav .content { padding:35px 0; }
		.page-front .header .block-search .block-content input { padding-left:6px; }
		.page-front .header .block.block-search .block.block-title strong:before{ color:#fff;}
		.page-front .header .block-search .action.search:before,
		.page-front .header .block-search .action.search:hover:before { color:#fff; }
		.page-front .header .block-search .block-content input { border-color:#fff; color:#fff;}
		.page-front .header .block-search .block-content input::-webkit-input-placeholder { color:#fff; }
		.page-front .header .block-search .block-content input:-ms-input-placeholder {color:#fff;}
		.page-front .header .block-search .block-content input::placeholder {color:#fff;}
		.banner_CBD img {     min-height: 450px;  object-fit: cover; }
		.novocann_content p { font-size: 16px; }
		.checkout-index-index .modal-popup .modal-header { padding-left: 20px; }
		.limiter {  float: right; }
		.product-tab-title { transition:all 0.3s ease; }
		.category-sticky { position: fixed; top: 70px; left: 0;	right: 0; z-index:9; padding:15px 0; }
		
 }


@media (min-width:992px) {
	  .craft-graybx{ width: 120%; }
      .craft-higher .craft-info-col { width: calc(100% - 11.5%); margin-left: 11.5%; }
      .craft-research .craft-info-col{ width: calc(100% - 11.5%); margin-right: 11.5%; }
      .craft-graybx p { font-size: 18px;  line-height: 30px; }
      .brand-info { position: absolute; left: 0; top: 50%; transform: translate(0, -50%); -webkit-transform: translate(0, -50%); }
      .footer-links ul  {  column-count:2;   -webkit-column-count:2;  }
	  .faqs-panel:nth-of-type(2n+1) {  padding-right: 30px; }
	  .faqs-panel:nth-of-type(2n+2) { padding-left: 30px; }
	  .faqs-panel {  flex: 1 1 50%; }
	  .menu-item-cbdx .menu-item-description {  padding-top: 25px; }
	  body.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3-columns .checkout-column{padding:0 15px;}
		

}

@media ( min-width:1025px ){
	.point {  position: absolute;  width: 44%; }
	.point-1 { top: 7%; }
	.point-2 { top: 37%; }
	.point-3 { top: 53%; }
	.point-circle { position: absolute; top: 13px; right:0;  }
	.point-circle:after  { content: ""; height: 3px; background: #fff; position: absolute; top: 12px;
		right: 27px; width:0; opacity:0; 
	}
	.point-body { opacity:0; }
	.point-circle:hover + .point-body,
	.point-circle:hover:after{ opacity:1;  }
	.point-circle:hover:after { width:170px; }
	.point-4 .point-circle:hover:after,
	.point-5 .point-circle:hover:after { width:370px; }
	.point-6 .point-circle:hover:after { width:130px; }
	.point-4 { right: 0;  top: 12%; }
	.point-5 { right: 0;  top: 21%; }
	.point-6 { right: 0;  bottom:30%; }
	.point-4 .point-circle { left: -22%; }
	.point-6 .point-circle { left: 15%; }
	.point-5 .point-circle { left: -19%; }
	.point-4 .point-circle:after { left: 26px;  }
	.point-5 .point-circle:after { left: 26px; }
	.point-6 .point-circle:after { left: 26px;  }
	.banefints-image-points img {  width: 100%; }
	.point-circle:after { transition: all 0.5s ease; -webkit-transition: all 0.5s ease; }
	.point-circle,
	.point-body { transition: all 0.3s ease; -webkit-transition: all 0.3s ease; }
	.point .point-body { position: absolute;  top: 0; }
	.point-1 .point-body,
	.point-2 .point-body,
	.point-3 .point-body { right: 38%; }
	.point-1 .point-circle { right:8%; }
	.point-2 .point-circle { right: 9%; }
	.point-3 .point-circle { right: 12%; }
	.point-4 .point-body,
	.point-5 .point-body,
	.point-6 .point-body { left: 38%; }
	.thc-content { margin-top: -180px;  }
	.compounds-box.row1 { min-height: 330px;  }
	.navbar-body.hover-active{ z-index:2; opacity:1; }
	.navbar-body.hover-active div { opacity:1; }
	.navbar-body .menu-image-item img { opacity:1 }

}
@media (min-width: 1200px) {
      .container {  max-width:1600px; width:94%;  }
      .family-brand {  max-width:630px; }
      .faqs-content .faqs-left {  padding-right: 30px;  }
      .faqs-content .faqs-right { padding-left: 30px;   }
	  .our-craft .craft-graybx{min-height: 55vh; display:flex; flex-direction:column; justify-content:center; }

}

@media (min-width: 1600px) {
      .lv8-page .owl-item-caption .h1, .owl-item-caption .h1 { font-size:100px; }
      .owl-item-caption p { font-size:40px; }
      .owl-item-caption { max-width: 1340px;  }
	  .menu-parent li{ padding-top:16px; padding-bottom:16px; }
}

@media (min-width:1025px) and (max-width:1300px) {
      .menu-parent li { padding-top:8px; padding-bottom:8px; }
      .menu-parent li.labs-menu { margin-top:12px; padding-top:18px; }
}
@media (max-width:1024px) {
	.point-body{ display: none; }
	.point-body .closeBtn{ display:block; }
	/* .point { display: inline-block; width: 16.666%; text-align: center; margin:1% 0;  } */
	.point-body{ position: absolute; top:50px;  }
	.point-circle.active .dot { background:#F57B3B; }
	.point-circle .dot { width:10px; height:10px;}	  
	.point-circle { width: 20px; height: 20px; }
	.point .point-circle { position: absolute; }
	.point .point-body{  margin:0 auto; z-index:1; }
	.cbd-info-section {  position: relative; z-index: 1; }
	
	
	

}

@media (max-width:991px) {
	.ftr-logo, footer.page-footer .col-lg-2:nth-of-type(1) {  order: 2; flex: 0 0 41.666667%;
    max-width: 41.666667%;  }
	.general-col { order: 1; flex: 0 0 58.333333%;  max-width: 58.333333%; }
	.legal-col {  order: 3; flex: 0 0 58.333333%;  max-width: 58.333333%; }
	.social-media-col { order: 4; margin-top: auto; flex: 0 0 41.666667%;  max-width: 41.666667%; }
	.legal-col .footer-links {  margin-top: 20px;  }
	footer.page-footer{ padding:50px 0; } 
	    

}

/*==========---min-width-768-max-1199---==========*/
@media (min-width: 768px)  and ( max-width:1199px ){
	.container { max-width: 96%;   }
	.family-brand a{ padding:12% 30px;  }
	.family-brand img {  max-width: 200px;  }
	.cbdx-brand img { max-width:140px; }
	.footer-logo img {  width: 120px; }
	.learn-btn{ padding:15px 20px; max-width:220px;  }
	.craft-graybx h3 {  font-size: 26px; margin: 0 0 10px; }
	.stay-updated .craft-graybx h3 { font-size:35px; }
	.craft-higher .craft-graybx { min-height: 40vh; }
	.news-featured h1, h1, h2, .worx-about-page h3,
	#scroll-the-players >h3, .our-expertise h3	  { font-size: 36px; }
	.expertise-info h5 { font-size:22px; }
	.brand-info figure img {  max-width: 150px; }
	.cbd-info-bx h3{ font-size:28px; }
	.faqs-panel h4 { font-size:22px; }
	.menu-item-description, .menu-col-main { padding-left:30px; padding-right:30px;  }
	.menu-parent li a { font-size:26px; }
	.theBrands-carousel .caption { max-width:500px; }
	.banner-notfront img { min-height: 400px; object-fit: cover; }
	.menu-caption h2{ font-size:42px; }
	.cont-form-col {  padding-left: 40%;  padding-right: 30px; }
	.cont-img-col {  width: 40%; }
	.contact-form-inner { padding-top:10%; }
	.labs-about-brand h4 { font-size:24px; }
	.our-expertise figure { width:50px;}
	.our-expertise .expertise-info { width:calc(100% - 50px); }
	.craft-graybx { min-height: 40vh; display: flex; flex-direction: column;  justify-content: center; }
	button#product-addtocart-button { width:100%; }
	body.catalog-product-view .column.main, body.checkout-cart-index .column.main, body.checkout-onepage-success .columns > .column.main, body[class*="customer-account-"] main#maincontent .columns > .column.main, .multishipping-checkout-login main#maincontent .columns > .column.main,
	body.checkout-cart-index .banner-title-notfront	{ width:98%; }
	.product-info-main .product-info-stock-sku { padding-left:0; }
	.checkout-cart-index .page-main { padding:0; }
	.checkout-cart-index .banner-title-notfront h1.page-title { font-size:36px; }
	.cart-discount .block { width: 100%; max-width: 400px; }
	.banner-title-notfront h1 { font-size:50px; }
	.cbd-info-section .container {  max-width: 100%; padding:0 5px;  }
	.faqs-content { padding: 0 25px; }  
	.news-detail-container { width:96%; }
	.checkout-onepage-success .banner-title-notfront { width:96%; padding:0; }
	.cbd-info-section .cbd-info-container .container { padding: 0; }
	.cbd-info-section .cbd-info-container .container .row { margin: 0; }
	body.account.page-layout-2columns-left .columns { width:100%; }
	
}

@media (min-width: 992px) and ( max-width:1024px ){
	.point-body{ max-width:270px; }
	.point-1 .point-circle { top: 8%; left: 38%; transform: translate(-38%, -8%); }
	.point-1 .point-body { top:5%; }
	.point-2 .point-circle { top: 13%; left: 47%; transform: translate(-47%, -13%);	}
	.point-2 .point-body { top:10%; right:80px; }
	.point-3 .point-circle { top: 22%; left: 49%; transform: translate(-49%, -22%);	}
	.point-3 .point-body { top:18%; right:80px; }
	.point-4 .point-circle { top: 39%; left: 38%; transform: translate(-38%, -39%);	}
	.point-4 .point-body { top:34%; }
	.point-5 .point-circle { top: 55%; left: 38%; transform: translate(-38%, -55%);	}
	.point-5 .point-body { top:48%;  }
	.point-6 .point-circle { top: 78%; left: 66%; transform: translate(-66%, -78%);	}
	.point-6 .point-body { top:70%; right:0; }
	.menu-parent li { padding-top:15px; padding-bottom:15px; }
	.cms-page-view .columns .breadcrumbs ul.items { width: 100%; }
	.cart-summary { padding:1px 15px 25px; }
	.cart-summary .checkout-methods-items .action.primary.checkout{ padding: 17px 8px; font-size: 16px; }
	.banner-detail-page {  margin-top: 40px; }
}

@media (min-width: 768px) and ( max-width:991px ){
	.craft-graybx p { line-height:24px; font-size:16px; }
	.cbd-info-title .container { padding: 0 5px;  }
	.info-title-list li a { font-size:13px; }
	.contact-form-inner .form-group {   margin-bottom:40px;   }
	.navbar-body .menu-image-item img{ height: 100vh; object-fit: cover; }
	.point-body{ max-width:230px;}
	.point-1 .point-circle { top: 8%; left: 38%; transform: translate(-38%, -8%); }
	.point-1 .point-body { top:5%; }
	.point-2 .point-circle { top: 13%; left: 47%; transform: translate(-47%, -13%);	}
	.point-2 .point-body { top:11%; right:60px; }
	.point-3 .point-circle { top: 22%; left: 48%; transform: translate(-48%, -22%);	}
	.point-3 .point-body { top:19%; right:60px; }
	.point-4 .point-circle { top: 39%; left: 38%; transform: translate(-38%, -39%);	}
	.point-4 .point-body { top:35%; }
	.point-5 .point-circle { top: 55%; left: 38%; transform: translate(-38%, -55%);	}
	.point-5 .point-body { top:48%; }
	.point-6 .point-circle { top: 78%; left: 66%; transform: translate(-66%, -78%);	}
	.point-6 .point-body { top:80%; right:0; }
	.cbdx-brands-col .brand-link { margin-right:15px; }
	.menu-parent li { padding-top:15px; padding-bottom:15px; }
	header.header .header.content, .catalog-product-view .page-header .header.content, .checkout-cart-index .header.content { right:162px; }
	.form.contact .col-md-6 { flex: 0 0 100%; max-width: 100%; }
	.active .menu-inner .social-col { bottom:20px; left:40px; }
	.menu-inner { padding:30px 40px; }
	.menu-item-cbdx .menu-image-item img { height:100vh; }
	.cont-img-col { width: 45%; }
	.cont-form-col { padding-left: 45%;  padding-right: 20px; }
	.freeapp-col figure { margin-bottom:-44px; }
	.cart-container { display: flex;  flex-direction: column; }
	.cart-summary { width:100%; top:inherit !important; }
	.abs-shopping-cart-items-desktop, .block-cart-failed, .cart-container .form-cart, .cart-container .cart-gift-item { width:100%; padding-right:0; margin-bottom:30px; }
	.cart-discount { margin-bottom:25px; }
	.cart-summary .checkout-methods-items .action.primary.checkout { width:auto; }
	.brand-row {  margin-bottom: 60px; }
	.news-featured .craft-graybx { width:100%; }
	.news-featured .craft-graybx { padding:5%; }
	.news-featured .craft-graybx h3 { font-size:22px; }
	.news-featured .craft-graybx .learn-btn { margin-top:5px; }
	.cms-page-view .columns .breadcrumbs ul.items { width: 100%; }
	.cart-summary { padding: 10px 30px 40px; }
	body.checkout-index-index .checkout-header { padding:0; }
	body[class*="customer-account-"] .banner-title-notfront, .multishipping-checkout-login .banner-title-notfront {
		width:98%; 
	}
	div#newsletter_pop_up { width:96%; }
	body.account.page-layout-2columns-left main#maincontent .columns > .column.main { width: 73.7%; }
	.account.page-layout-2columns-left .sidebar-main,
	.account.page-layout-2columns-left .sidebar-additional { width: 26.3%; }
	.account .column.main .block:not(.widget) .block-content .box { width: 100%; }
	.account .block .box-actions a { margin-top:10px; }
	.account .box { margin-bottom: 40px; }
	.account .box:last-child { margin-bottom: 0; }
	.account .page-title-wrapper.banner-title-notfront .page-title { font-size:30px; }
	.menu-item-cbdx .menu-image-item img { height: 96vh;  }	
	.page-layout-1column .product.media { width: 50%; }
	.page-layout-1column .product-info-main { width:47%; }
	.product-new-main { width:100%; }
     .catalog-product-view .banner-title-notfront h1.page-title,
	.all-product-description h3, .block.related .block-title.title,
	.block.related .block-title.title strong	{ font-size:28px; } 
	.banner-detail-page { margin-top:40px; }
	.novocann_row-full .container, body.catalog-product-view .column.main {  max-width: 100%;
		width:100%; }
	.product.info.detailed { margin-bottom:0; }
	.newsletter-popup .newspopup-body .descount-field { width:70%; }
	.newspopup-body { background-size: auto 63%; }
	
}

@media (max-width:991px) {
	/*--menu-css-for-mobile--*/
	.menu-items { float: right;  width:100%; }
	.nav-sections-items .menuBtn { top:15px; z-index:11;}
	.menu-col-main { width: 50%; padding: 16px 0 30px; float: left; z-index: 5; right: 0; position: absolute;
		top: 35%; height: calc(100% - 35%); overflow-y: auto; border-left: 1px solid #ccc; z-index: 10;  }
	.menu-col-main ul { padding: 0 15px;  }
	.menu-parent li a { font-size: 21px; }
	.menu-parent li .fa { font-size:22px; }
	.menu-inner .logo-brand { margin-bottom:30px; }
	.menu-inner p { font-size:15px; line-height:24px; margin-bottom:15px;  }
	.menu-parent li.labs-menu{ padding-top: 18px; margin-top: 12px;  }
	.social-col li { margin-right:8px; }
	.navbar-body { float: left; width: auto;   }
	.menu-image-item { height:100vh; width:30%; float: left;  }
	.menu-image-item img { width: 100%; float: left; object-fit: cover;   }
	.menu-item-front .menu-image-item img { height: 50vh;  }
	.menu-item-labs .menu-image-item img {  height: 50vh;   }
	.menu-item-worx .menu-image-item img { height: calc(100vh - 60%);  }
	.menu-item-description { float: left; width: 50%; height: 100vh; padding: 10px 0; position: relative; }
	.navbar-body { position: fixed; top: 0; right:0; width: 100%; background: #fff; z-index: 3; 
		transition: all 0.4s ease; padding:0; opacity:0;
	}
	.navbar-body.active{ opacity:1; z-index:9;}
	.navbar-body.mobile-active { right:0; z-index:5; }
	.navbar-body .menu-image-item { width: 100%; position: fixed; top: 0; height: 35%; overflow: hidden;   }
	.mobile-back-btn { margin:0 0 10px; display: block; position: relative; z-index:1; }
	.mobile-back-btn a { font-size: 28px; color: #9b9b9b; padding: 0px 15px; display: inline-block; line-height: normal; cursor: pointer; }
	.menu-inner { position: absolute; left: 0; right: 0; width: auto; overflow-y: auto; overflow-x: hidden; top: 35%;
		padding:40px; height: calc(100% - 35%); opacity:0;
	}
	.menu-items .active .menu-inner { opacity:1; }
	.nav-sections-items .menuBtn .menubar { background: #fff; }
	.menu-item-front:after { content: ""; position: absolute; height: 35%; width: 100%; 
		background: rgba(0, 0, 0, 0.3); left: 0; right: 0; }
	.box-tocart .fieldset { display: inherit; }
	.box-tocart .fieldset .actions { margin-top: 30px; }	
	body.checkout-index-index .checkout-block { margin:0 15px 20px; }
}


@media (max-width:767px) {
	.menu-parent li { padding:6px 15px 6px 0;   }
	.menu-inner .logo-brand { margin-bottom:20px; }
	.menu-inner, .menu-col-main ul { padding:20px 12px; }
	.container{ max-width:100%;}
	.logo-col img,
	body.lv8-page .logo-col img, body.labs-page .logo-col img,
	body.worx-page .logo-col img{ width:auto; height:24px; }
	body.lv8-page .logo-col img {  height: 24px; }
	
	.cbdx-page .logo-col img, .catalog-product-view .logo-col img, .checkout-cart-index .logo-col img,
	.checkout-onepage-success .logo-col img,
	body[class*="customer-account-"] .logo-col img,
	.multishipping-checkout-login .logo-col img,
	.checkout-index-index header.header .header.content >a img,
	.cbdx-page.page-not-front .logo-col img	{
		height: 40px;
	}
	.lv8-page.page-layout-1column .header-sticky img,
	.labs-page.page-layout-1column .header-sticky img,
	.worx-page.page-layout-1column .header-sticky img { height: 24px; }
	.checkout-index-index header.header .header.content .minicart-wrapper { margin-right:115px; }
	.checkout-index-index #checkout.am-checkout { padding:0; }
	.checkout-index-index .authentication-wrapper { margin:0; }
	.opc-estimated-wrapper {  margin: 90px 0 30px; }
	body.checkout-index-index .checkout-block { padding:20px 15px; margin: 0 0 20px; }
	.opc-wrapper .methods-shipping { padding-top:0; }
	.checkout-payment-method .payment-methods .actions-toolbar .primary { margin-top:20px; }
	.opc-wrapper .form-login, .opc-wrapper .form-shipping-address, .opc-wrapper .methods-shipping {
		margin:0; padding:0; background:none;
	}
	.opc-wrapper .form-login { margin-top: 20px; }
	.opc-wrapper .form-login .fieldset .note, .opc-wrapper .form-shipping-address .fieldset .note { margin-bottom:10px;}
	.checkout-payment-method .billing-address-same-as-shipping-block { padding:0 15px;}
	
	.minicart-wrapper .action.showcart:before, .minicart-wrapper .action.showcart.active:before {
		font-size:26px;
	}
	.sign-col .singin-link { font-size:22px; }
	.menubar1, .menubar2 { margin-bottom:9px; }
	.minicart-wrapper .action.showcart .counter.qty { width:18px; height:18px; line-height:18px; top: -7px;
	font-size:11px; }
	.page-header { border:none; }
	.header, .cbdx-page.page-not-front .header { padding:15px 0; }
	.navbar-col .bar-button {  margin-top:0px; }
	.lv8-about-info .abtInfo h3, .labs-page .lv8-about-info .abtInfo h3{ font-size:20px; }
	.h2, h2 { font-size:30px; }
	.cbd-info-bx h3 { font-size:24px; }
	.title-col h2{ margin-bottom:20px; }
	.family-brand a{ background: rgba(255,255,255,0.8);  }
	.family-brand { width:84%; }
	.family-brand img { max-width:120px;}
	.cbdx-brand img{ max-width:110px;}
	.family-brand figure{ margin-bottom:25px; }
	.family-brand h3{ font-size: 18px;  font-weight: 400; margin-bottom:15px;  }
	.ourFamily-row h2{ margin-bottom:30px; }
	.lv8-about-info { margin-bottom: 20px; padding:10% 0 5%; }
	.footer-logo img {  width: 100px; }
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev { width:30px; height:30px; font-size:36px; }
	.owl-carousel .owl-nav button span{line-height:22px; }
	.front-banner .owl-carousel .owl-nav button.owl-next,
	.front-banner .owl-carousel .owl-nav button.owl-prev { top:initial; bottom:40px; margin:0;   }
	p { font-size:16px; line-height:24px;  }
	.labs-about-brand h4, .expertise-info h5{ font-size:20px; }
	.craft-graybx h3, .worx-about-page .craft-graybx h3 { font-size: 22px;  margin: 0 0 10px; }
	.learn-btn{ padding:15px; font-size:16px; }
	.theBrands-carousel {  margin: 40px 0 0; }
	.theBrands-carousel .boxBrands img {  margin: 0 0 30px;  width: 120px;  }
	.theBrands-carousel .boxBrands p { line-height: 22px; }
	.theBrands-carousel .boxBrands{ padding: 30px 15px;  background: rgba(255,255,255,0.8);  }
	.theBrands-carousel .caption { width:80%; }
	.theBrands-carousel .owl-item .item >img { min-height: 400px; object-fit: cover; }
	.brand-info figure img { max-width: 140px; }
	.point-body { left: 0; right: 0; max-width: 100%;  }
	.info-title-list li{ padding:8px 5px; width:100%; }
	.info-title-list li a{ font-weight:500; }
	.info-title-list li a br,
	.cms-content h3 br { display: none;}
	.banefints-image-points {  margin:0px auto 40px; width:100%;  }
	.cbd-info-bx { margin-bottom: 30px;  }
	.faqs-panel h4 { font-size:18px; }
	.cms-title .title-left, .cms-title .logo-right { width:100%; }
	.cms-title h1 {  font-size: 30px;   }
	.cms-title .title-left span { font-size:20px; }
	.cms-title .logo-right img { width: 100px; margin: 20px 0 0;  }
	.compounds-box h2 { font-size:22px; margin:0;  }
	.cms-content h3 { font-size:20px; }
	.summar-bx { margin-bottom:20px; }
	.worx-about-page .lv8-about-info .abtInfo p { margin: 0; }
	.success-stories { margin:20% 0; }
	.stories-carousel {  padding: 0 15px;  }
	.our-expertise h3 { margin:20px 0 30px; }
	.appstore-col img { height: 40px; width: auto; }
	.front-banner .owl-carousel .owl-nav button span:before { font-size: 28px; line-height: 28px;  }
	
	.cbdx-brands-col .brand-link img { width:55px; }
	.cbdx-brands-col .brand-link:nth-of-type(2) img { width:42px; }
	.menu-inner .adrs-col li a  { font-size:14px; }
	.cbdx-brands-col .brand-link { margin:0 7px 15px 0;  }
	.social-col h5, .cbdx-brands-col h5 { font-size: 14px;  font-weight: normal;  }
	.menu-inner .logo-brand img { height:22px; }
	.menu-item-front .menu-inner .logo-brand img { height: 26px;   }
	.menu-item-cbdx .menu-inner .logo-brand img { height:45px; }
	.menu-items .active .menu-inner { display: flex; flex-direction: column; }
	.menu-inner .adrs-col { margin-bottom:10px; display: flex; flex: 1; flex-direction: column; }
	.filter-col .filter-link{ margin:0; padding:12px; }
	.social-col li a { font-size:18px; }
	.container-inner { position: relative;  }
	.cont-img-col img { height: 450px; object-fit: cover; width: 100%; }
	.cont-img-col { width: 100%; margin-bottom: 20px;	}
	.cont-form-col { padding:0; width:100%; float:left; }
	.contact-form-inner { padding: 20px 15px;  }
	.contact-form-inner h4 { font-size:20px; margin-bottom: 30px;  }
	.contact-form-inner .form-group {  margin-bottom:40px;  }
	.contact-form-inner .form-control { font-size:13px; }
	.banner-title-notfront h1,  .h1, h1, .owl-item-caption h1 { font-size:30px; line-height:normal; }
	
	.owl-item-caption h1 br { display: none;   }
	.owl-item-caption p { font-size: 26px; line-height: normal;  }
	.news-featured h1 { margin-bottom: 20px; margin-top: 30px; font-size: 30px; }
	.open-positions h2 {  margin-bottom: 10px;         }
	.news-featured .owl-theme .owl-nav.disabled+.owl-dots {    margin-top: 10px;      }
	.latest-post {margin-top: 30px;   }
	.post-item { margin-bottom: 40px;   }
	.banner-breadcrumbs .breadcrumbs,
	.careers-page .banner-breadcrumbs .breadcrumbs	{ display: none; }
	.ourFamily-row {  padding: 0 15px;   }
	.family-image img { min-height: 400px; object-fit: cover;  }
	.labs-about-brand { margin-bottom:10%; }
	.header .container { display: flex; align-items: center;  }
	.promoting-carousel .owl-carousel .owl-item img { width: auto; float: none; display: inline-block;
		padding:0 30px; max-width:170px;	}
	.promoting-carousel { text-align: center; margin-bottom:50px; }
	.cbdx-brands-col { margin-bottom:12px; }
	.menu-inner .adrs-col li { margin-bottom:10px; }
	.social-media-col .footer-links li a {font-size:18px; }
	.social-media-col .footer-links li { margin-right:8px;}
	.information-mobile { display:block; }
	.info-title-list { background: none; float: left; padding: 15px 0 5px; display: none; width:100%; }
	.banefints-image-points img { min-height: 500px; object-fit: cover; width: 300px; }
	.banefints-image-points figure { text-align: center; }
	.benefit-points { width: 100%; max-width: 300px; }
	.point .point-body{ max-width:94%; }
	.point-1 .point-circle { top: 7%; left: 25%; transform: translate(-25%, -7%); }
	.point-1 .point-body { top:11.5%; }
	.point-2 .point-circle { top: 13%; left: 45%; transform: translate(-45%, -13%);	}
	.point-2 .point-body { top:17%; }
	.point-3 .point-circle { top: 22%; left: 48%; transform: translate(-48%, -22%);	}
	.point-3 .point-body { top:27%; }
	.point-4 .point-circle { top: 39%; left: 27%; transform: translate(-27%, -39%);	}
	.point-4 .point-body { top:43%; }
	.point-5 .point-circle { top: 55%; left: 26%; transform: translate(-26%, -55%);	}
	.point-5 .point-body { top:58%; }
	.point-6 .point-circle { top: 78%; left: 82%; transform: translate(-82%, -78%);	}
	.point-6 .point-body { top:81%; }
	.featured-products { margin-top: 10px; }
	.free-app { padding: 20px 0 0; }
	.appstore-col a { margin: 0 3px 20px; }
	.theBrands-carousel .owl-carousel .owl-nav button.owl-next { right:0; }
	.theBrands-carousel .owl-carousel .owl-nav button.owl-prev { left:0; }
	.size-filter .filter-dropdown,
	.prize-filter .filter-dropdown	{ right: 0;  left: inherit; }	
	.menu-caption { bottom:15px; left:15px; max-width:80%; }
	.menu-caption h2 { font-size:28px; line-height:32px; }
	.menu-caption h3 { font-size:20px; }
	.menu-caption h2 br, .menu-caption h3 br { display:none; }
	.logo-col span.action.nav-toggle {  display: none; }
	.sign-col { margin-right:8px; position:inherit; }
	header.header .header.content, .catalog-product-view .page-header .header.content, .checkout-cart-index .header.content { right: 104px; margin-top: -5px; }	
	.navbar-col { top:2px; }
	.sign-col .singin-dropdown {  right:15px; margin:0 auto;top:90%;  }
	body .minicart-wrapper .block-minicart { right: -110px; top: 40px; }
	.minicart-wrapper .block-minicart:before,
	.minicart-wrapper .block-minicart:after { display:none; }
	.page-layout-1column .page-wrapper .page-header { height:70px; margin-bottom:0; }
	body.page-layout-1column .page-wrapper .header-sticky { height: 50px; }
	.banner-breadcrumbs, .catalog-product-view .breadcrumbs, .checkout-cart-index main#maincontent, 
	.checkout-index-index #maincontent.page-main, .checkout-onepage-success main#maincontent, body[class*="customer-account-"] main#maincontent, .multishipping-checkout-login main#maincontent,
	.contact-index-index main#maincontent, 
	.cms-cbdx-science-of-cannabis- main#maincontent,
	.cms-page-view main#maincontent, .news-index-detail main#maincontent,
	.page-wrapper > .banner-breadcrumbs 	{
		margin-top:70px; 
	}
	.cms-careers main#maincontent { margin-top:80px; }
	.banner-notfront { margin-top:0px; }
	.labs-page.page-front .columns,
	.worx-page.page-front .columns,
	.cbdx-page.page-front .columns{  padding-top: 0; }
	.cont-img-col { height:auto; }		
	.worx-page .front-banner .item{ background-position: 68% top !important; }
	 
	h2,
	#scroll-the-players >h3,
	.our-expertise h3	{ font-size:30px; }
	.page-products .columns { padding-top:0; }
	.stories-carousel .customer-caption h5 { font-size:16px; }
	.page-front .header { padding: 20px 0; }
	.front-banner .item { height: 100vh !important; }
	.freeapp-col {  flex-direction: column; text-align: center; }
	.app-info {padding: 10px 0 20px; }
	.freeapp-col figure { order: 2; }
	.app-info h4 { font-size: 23px; margin-bottom:10px; line-height:normal; }
	.freeapp-col figure img { max-width: 180px; }
	footer.page-footer { margin-top: 0; }
	.filter-title strong { background: #f8f8f8; border: none; padding: 12px 20px; box-shadow: none;
		font-size: 14px; margin: 20px 0 0; position: relative; top: 10px; }
	.filter.active .filter-title strong { width: 100%; margin: 0; position:relative; }
	.filter.active .filter-title strong:after { position: absolute; top: 10px; right: 15px; }
	.filter.active .filter-title { height: auto; padding-bottom: 10px; }
	body.page-layout-1column .filter-options-item {  margin-right: 0; }
	.filter-options-item { padding-bottom:0; }
	.open-positions { padding:40px 0; }
	footer.page-footer {  padding: 50px 0 25px; }
	.craft-graybx { padding:10% 20px; }
	#scroll-the-players >h3 { margin-bottom:8%; }
	.our-expertise figure { width:45px;}
	.our-expertise .expertise-info { width:calc(100% - 45px); }
	.featured-products h2 { font-size:30px; margin-bottom:10px; }
	.stay-updated .craft-graybx h3 {  font-size: 30px; }
	.our-craft .craft-box-row { margin-bottom:0; }
	.stayUpdate-col .craft-graybx { padding-left:0px; padding-right:0px; }
	.join-btn { padding:15px 20px; }
	.stayUpdate-col .form-control { padding-right:85px; }
	.action.primary, .review-form .action.submit.primary  { padding:17px 10px; }
	.product.data.items { margin: 0; }
	.product.data.items > .item.content {  padding: 20px; }
	.product.data.items > .item.content { border-bottom:none; }
	.product.data.items > .item.title > .switch { font-size:16px; }
	
	.product.media .fotorama__stage__shaft.fotorama__grab { width: 300px !important; }
	.product.media .fotorama__stage { width: 300px !important; height: 300px !important; }
	.product.media .fotorama__active .fotorama__dot { background-color:#ff5501; border-color:#ff5501; }
	.product.media .fotorama__dot { width:6px; height:6px; }
	.catalog-product-view main#maincontent { margin-top: 70px; }
	.catalog-product-view .banner-title-notfront h1.page-title {  font-size: 24px; margin-top: 20px; }
	.product-reviews-summary .reviews-actions { margin-bottom: 0; display: flex;
		flex-direction: column; }
	.checkout-cart-index .banner-title-notfront h1.page-title { font-size:30px; }
	.cart-discount .block { width: 100%; }
	body.checkout-cart-index .banner-title-notfront { padding-top:12%; }
	.cart-summary .checkout-methods-items .action.primary.checkout { font-size:18px; }
	.column.main .cart-discount .block { margin-bottom: 40px; padding-top: 10px; }
	.paypal-review-discount .fieldset, .cart-discount .fieldset { display: inherit; }
	.cart-discount .actions-toolbar button.action.apply.primary { border-radius: 0; }
	.cart-container { display: flex; flex-direction: column; }
	.cart-summary { order:2; }
	.cart-discount { border-bottom:none; }
	.checkout-cart-index .product-image-photo { height:60px; }
	.cart.table-wrapper .col.qty:before, .cart.table-wrapper .col.price:before, .cart.table-wrapper .col.subtotal:before, .cart.table-wrapper .col.msrp:before { text-align:left;}

	div#newsletter_pop_up {  height: 94%; overflow-y: auto; }
	.newspopup-body { padding: 230px 15px 20px; background-size: 200px auto;
	background-position: center top; }
	.newsletter-popup .newspopup-body .popup-img-field { width: 100%; order: 2; padding-top:30px; }
	.newsletter-popup .newspopup-body .descount-field { width: 100%; order: 1; padding: 0; }
	.newspopup-body { display: flex;  flex-direction: column;  }
	.newspopup-body  .label { font-size: 20px; justify-content: center;	}
	.newspopup-body .news-control-field .actions { width: 70px; }
	.newspopup-body .news-control-field .control { width: calc(100% - 70px); }
	.newspopup-body .news-control-field .actions button { min-width: inherit;  padding: 0; line-height: 18px; }
	.newspopup-body .news-control-field input#newsletters { padding-left: 10px; }
	.descount-model .b-close { top: 5px; right: 5px; }
	.info-row-1 .cbd-info-bx { margin-left: 0; width: 100%; padding-right: 0; }
	.cbd-info-row { margin: 0 0 40px; }
	.cbd-info-title { margin-bottom:30px; }
	.cbd-stay { padding:40px 0; }
	.process-bx h3 { font-size:30px; }
	.cbd-info-bx h4 { font-size:16px; }
	.modal-popup._inner-scroll .modal-content {  overflow-y: auto;  height: 90vh; border-radius: 0; }
	table th, table td { font-size: 14px; }
	.modal-content p { font-size: 15px; }
	.science-container { padding-top:40px; }
	.faqs-content { margin-top:10px; }
	.brand-row { margin-bottom: 30px; text-align: center; }
	.news-detail-container { margin: 30px auto 50px;  width: 100%; }
	.family-brand img { margin-bottom:20px; }
	.family-brand a { padding-left:15px; padding-right:15px; }
	body.checkout-cart-index .column.main {  padding-bottom: 40px; }
	body.checkout-index-index .column.main { width: 100%; }
	.fieldset.address { margin:0; }
	.fieldset.address > .field { padding:0; }
	.checkout-index-index .opc-wrapper.am-opc-wrapper .payment-method-content .primary {  padding-right: 15px; }
	.authentication-dropdown .modal-inner-wrap .modal-content { padding:0; }
	.checkout-success .actions-toolbar {  margin-top: 20px; }
	.checkout-onepage-success .banner-title-notfront { width:100%; }
	.checkout-onepage-success .banner-title-notfront h1.page-title { font-size:28px; }
	body[class*="customer-account-"] .banner-title-notfront, .multishipping-checkout-login .banner-title-notfront {
		width:100%; 
	}
	body[class*="customer-account-"] .banner-title-notfront h1.page-title, .multishipping-checkout-login .banner-title-notfront h1.page-title { font-size:28px; }
	.block-minicart .subtotal span.label { font-size: 14px; }
	.banner-notfront img, .category-image .image {
		height: calc(100vh - 70px);  object-fit: cover;
	}
	.careers-page .banner-notfront { margin-top:0; }
	.account .page-title-wrapper.banner-title-notfront .page-title { font-size:22px; }
	body.account main#maincontent { padding: 0; margin-top:0; }
	.account .block.account-nav {  margin: 0; }
	.account header.header { height:70px; }
	.account .logo-col img {  height: 50px; }
	.account header.header .header.content {  top: 14px; }
	body.account.page-layout-2columns-left main#maincontent.page-main .columns {  padding: 20px 0; }
	.account .block .box-actions a {  margin-top: 10px;  margin-bottom: 20px; }
	.block-dashboard-addresses .block-title a.action.edit { font-size: 13px; margin-left: 5px; }
	.account .column.main {  padding: 0 15px; }
	.menu-item-cbdx .menu-image-item img { height: 84vh;  }	
	.cbdx-page.page-front .logo-col img { height: 46px; width: auto; }
	.cbdx-page.page-front .banner-breadcrumbs { margin-top: 0; }
	.cms-no-route .banner-title-notfront h1 { font-size:36px; }
	.page-layout-2columns-right main#maincontent { margin:30px auto; }
	.page-layout-1column .logo-col img, .page-layout-2columns-right .logo-col img { height:40px; }
	.page-layout-2columns-right .page-header { height:70px; }
	.block-search .control { border:none; margin:0; padding:0; }
	.header .block-search .block-content { top:40px; width:auto; right:-136px; min-width: 280px; padding:10px;z-index:2; background:#fff; }
	.header .block-search .block-content input { width: 270px;  background: #fff; position:inherit; left:inherit; }
	header.header .block-search .action.search { background: none; border: none; box-shadow: none;
		display:block; position: absolute; top: 29px; right: 8px; padding:6px 10px; cursor: pointer;}
	header.header .block-search .action.search span { font-size: 0;  color: transparent; }
	header.header .block-search .action.search span:before { content: "\e615"; font-family: luma-icons; color: #000;  font-size: 26px; font-weight: 400; cursor: pointer; }
	.header .block.block-search .block.block-title.active strong:before { content: "\e616"; }	
	.product-info-main .product-info-stock-sku { padding-left:0; }
	.header .block.block-search .block.block-title { margin-right:12px;}
	.lv8-page.cms-about .banner-breadcrumbs,
	.page-front .banner-breadcrumbs	{ margin-top: 0; }
	.page-front .header .block.block-search .block.block-title strong:before{ color:#fff;}
	.vedio-mobile{ display:block;; }
	.vedio-desktop { display:none; }
	.product-info-main .rating-summary { margin-right:20px; } 
	.product-new-main {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 40px auto 0;
		align-items: center;
	}
	.product-new-main .product-info-main { order: 2; }
	.catalog-product-view .product.media { order: 1; }
	.product-reviews-summary .reviews-actions a {  margin-bottom: 12px; }
	.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price {  font-size: 22px; }
	.stock.available span, .product-info-main .product.attribute.sku, .product-info-main .product.attribute.sku .type {  font-size: 13px; }
	.subscribe-learn .subscribe {  margin: 0 0 20px; }
	.product_inner_section > div {  flex-direction: column; }
	.product-info-main .product-options-bottom .box-tocart { margin-bottom:10px; }
	.product-info-main .product-options-bottom .box-tocart .fieldset {   display: inline-flex; }
	button#product-addtocart-button {  font-size: 16px;  padding: 17px; }
	.box-tocart .fieldset .actions {    margin: 0; }
	.product.info.detailed {  margin: 0 0 20px; }
	.all-product-description h3, .review-container .label-reviews-title,
	.block.related .block-title.title strong, .block.related .block-title.title
		{    font-size: 26px; }
	ul.listing_doted {   margin-bottom: 30px; }
	.benefits_section {   padding: 30px 0; }
	.benefits_section .novocann_content {  margin-bottom: 20px; }
	.banner-detail-page .banner_CBD img { min-height: 500px; object-fit: cover; }
	.banner-detail-page .banner_texts h3 {  font-size: 26px; margin-bottom: 20px; }
	.banner-detail-page .banner_texts p {  font-size: 16px;  line-height: 24px; }
	.banner_CBD .banner_texts a.btn { margin-top: 15px; }
	.review_section .review-container { width: 100%; margin: 40px auto 0; }
	.rewive-name-p {flex-direction: column; }
	.rewive-name-p .rewive-name { text-align: center; font-size:20px; }
	.review-container button.action.primary.write-a-review { margin-left: initial;margin-top: 15px; }
	.block.related { width:100%; }
	.related .products-related li.item {  width: 100%;  margin-bottom: 40px; }
	.related .products-related li.item:last-child {  margin-bottom: 20px; }
	.opc-wrapper .form-discount { padding: 0 15px; }
	body.checkout-index-index .opc-wrapper.am-opc-wrapper .payment-option-content .action-apply {	   	margin-bottom: 0; }
	.checkout-onepage-success .column.main { padding: 0; }
	.checkout-index-index .modal-popup.modal-slide {  left: 0; }
	body.checkout-index-index .modal-popup:not(.agreements-modal):not(.popup-authentication) .modal-inner-wrap {width: 100%;padding: 15px;}
	.checkout-index-index .modal-popup.modal-slide header.modal-header { padding-left: 0; }
	.checkout-index-index .modal-popup.modal-slide header.modal-header .modal-title{font-size: 18px; }	
	.checkout-index-index .modal-popup .modal-footer .action-save-address { font-size:16px; }
	.checkout-index-index .opc-estimated-wrapper .estimated-block { font-weight:600; }
	.checkout-index-index .opc-estimated-wrapper {  margin-top: 0; }
	.account .sidebar-additional { padding:0 15px; }
	.account .table-wrapper { border-bottom:none; }
	.block-reorder .actions-toolbar { display:flex; }
	.account .column.main .block-title.order { margin-bottom: 10px !important; }
	.coming-soon p { font-size:30px; }
	
}




